

<div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
              Organization listings
              </div>
            </div>

            <div class="portlet-body form">
                
                <br/>
                <p style="padding-left:20px;">
                <%= link_to 'New Organization', new_organization_path, :class => "btn btn-default" %>

          </p>
          <table class="table table-bordered" style="padding:30px;" id="organization_table">
            <thead>
              <tr>
                <th>Organization Info</th>
                <th colspan="1">Get Price</th>
              </tr>
            </thead>
            <tbody>
              <% @organizations.each do |organization| %>
                  <tr>
                    <td>
                   
                     <p>
                       <button type="button" class="btn btn-default btn-sm" id="downfirstorg<%= organization.id %>">+</button>
                     <b>Name:</b><%= organization.name %>, 
                     <b>Public Name:</b><%= organization.public_name %>,
                     <b>Type:</b> <%= organization.organization_type %>,
                     <b>Pricing Policy </b><%= organization.pricing_policy %>.
                     </p>

                     <p>
                     <button type="button" class="btn btn-default btn-sm" id="aok<%= organization.id %>" style="display:none;">+</button>
                      <span id="id0+<%= organization.id %>"></span></p>
                      <input id="orginput<%= organization.id %>" class="input_org" style="width: 100%;border-style: none;">
                    </td>
                    <td>get price</td>
                  </tr>

                  <script type="text/javascript">

                  $(document).ready(function(){

                      $("#downfirstorg<%= organization.id %>").click(function(){
                          $.ajax({ 
                               headers: {'Content-Type': 'application/json'},
                               type: 'GET',
                               url: 'get_organization',
                               dataType: 'JSON',
                               data: {'id':"<%= organization.id %>"},
                               complete: function(response) {
                                
                                  var aok = response.responseText;
                                  var data = JSON.stringify(aok);
                                  arr = JSON.parse(data);
                           

                                  var i;
                                  var out = "<table>";

                                  for(i = 0; i < arr.length; i++) {
                                      out += arr[i]
                                  }
                                  out += "</table>";
                                  var organizationID = "<%= organization.id %>"

                                  if (organizationID.length == 1) {
                                      org_id = arr.substring(7, 8);
                                  } 
                                  else if (organizationID.length == 2){
                                     org_id = arr.substring(7, 9);
                                  }
                                

                                  document.getElementById("id0+<%= organization.id %>").innerHTML = out;
                                  
                                  var org_new_id = 'downsecondorg'+org_id
                                  $('#aok<%= organization.id %>').attr('id', org_new_id); 
                                  $('#downsecondorg'+org_id).show();

                                   $('#downsecondorg'+org_id).click(function(){
                                      // 

                                      $.ajax({
                                           headers: {'Content-Type': 'application/json'},
                                           type: 'GET',
                                           url: 'get_organization',
                                           dataType: 'JSON',
                                           data: {'id':org_id},
                                           complete: function(response){
                                           

                                             document.getElementById("orginput<%= organization.id %>").value =  response.responseText;   
                                            
                                            }
                                         });

                                      // 
                                    });


                          }});
                      });
                  });
  
                   
                    </script>




              <% end %>
            </tbody>
          </table>

            </div>
</div>







